body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}


header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.layout {
    display: flex;
    width: 100%;
    margin-top: 20px;
}


.left {
    width: 15%;
    background: #f0f0f0;
    padding: 15px;
    min-height: 400px;
}


.center {
    width: 70%;
    padding: 0 20px;
}


.content {
    padding: 20px;
    background: white;
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.right {
    width: 15%;
    background: #f0f0f0;
    padding: 15px;
    min-height: 400px;
}


footer {
    text-align: center;
    padding: 10px;
    background: #eee;
    margin-top: 20px;
}
.ad-img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

